* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif, 'Times New Roman', Times, serif;
}

body {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 255, 255);
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    filter: blur(0px);
}

.page-title {
    height: 22%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.game-settings {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffe6dd;
    width: clamp(360px, 50%, 90%);
    height: 60%;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
    z-index: 1;
}

#start-message {
    text-align: center;
    font-size: 40px;
}

.player-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.player-container>input {
    height: fit-content;
    font-size: 20px;
}

#start-button {
    height: fit-content;
    width: fit-content;
    font-size: 32px;
    padding: 10px;
    background-color: aquamarine;
}

.welcome-message {
    font-size: 28px;
    font-weight: 900;
    text-align: center;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.game-mode-buttons {
    padding: 10px;
    font-size: 30px;
    background-color: beige;
}

.game-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

#main-menu-button, #rematch-button {
    padding: 5px;
    font-size: 24px;
    background-color: beige;
}

.marks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 15px;
}

.marks>label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.difficulty-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 15px;
}

.difficulty-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

input[type="radio"] {
    display: none;
}

input[type='radio']+label {
    padding: 10px;
    background-color: beige;
    border: 2px outset lightgray;
}

input[type='radio']:active+label {
    border: 2px inset lightgray;
}

input[type='radio']:checked+label {
    background-color: aquamarine;
}

#game-board {
    height: clamp(360px, 50%, 50%);
    width: clamp(360px, 25%, 25%);
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.squares {
    height: 33.33%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: max(100px, 7vw);
}

.squares:hover {
    background-color: rgba(206, 206, 206, 0.5);
    cursor: pointer;
}

#square-5 {
    border: solid black 3px;
}

#square-2, #square-8 {
    border-left: solid black 3px;
    border-right: solid black 3px;
}

#square-4, #square-6 {
    border-top: solid black 3px;
    border-bottom: solid black 3px;
}

#square-1, #square-2, #square-3 {
    border-bottom: solid black 3px;
}

#square-7, #square-8, #square-9 {
    border-top: solid black 3px;
}

#square-1, #square-4, #square-7 {
    border-right: solid black 3px;
}

#square-3, #square-6, #square-9 {
    border-left: solid black 3px;
}

#win-message {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: max(30px, 3vw);
    font-weight: 900;
    color: white;
    z-index: 1;
}


@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap);